<%= form_with model: [@item, @item.reviews.build] do |form| %>
  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['approved', 'pending', 'rejected'], selected: 'pending' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>